* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #DDD;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

span {
  font-size: 16px;
}

p {
  font-size: 18px;
}