.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  height: 205px;
  width: 500px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid #CCC;
}

.login h1 {
  margin-bottom: 24px;
}

.login input {
  margin-top: 8px;
  width: 452px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #777
}

.button {
  width: 111px;
  height: 32px;
  background: #7695EC;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background .3s;
  align-self: flex-end;
  margin-top: 16px;  
}

.button:disabled {
  background-color: #777;
  cursor: default;
}
